body{
  background-color: #DCDCDC;
}


.container > * {
  color: black;
  text-align: center;
  padding-top: 20vh;
  padding-right: 5vh;
  padding-bottom: 10vh;
  padding-left: 5vh;
  font-size: 1.2rem;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.609);
}
