@import url('header.css');
@import url('index.css');
@import url('footer.css');

:root{
    --color-naranja: #F58220;
    --color-gris: #DCDCDC;
    --color-azul: #026AA7;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
    margin: 0 auto;
}
body{
    background-color: var(--color-azul);
}
main{
    font-family: 'Roboto';
}