@import url('header.css');
@import url('index.css');
@import url('footer.css');
@import url('productDetail.css');
@import url('register.css');
@import url('categorias.css');

:root{
    --color-naranja: #F58220;
    --color-gris: #DCDCDC;
    --color-azul: #026AA7;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
    margin: 0 auto;
}
body{
    background-color: var(--color-azul);
    max-width: 95vw!important;
    margin: 0 auto!important;
}

@media (min-width: 481px) and (orientation: landscape){
    body{
        max-width: 90vw!important;
        margin: 0 auto!important;
    }
}

@media (min-width: 897px) and (orientation: landscape){
    body{
        max-width: 900px;
        margin: 0 auto!important;
    }
}