:root{
    --color-naranja: #F58220;
    --color-gris: #DCDCDC;
    --color-azul: #026AA7;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0 auto;
}

main{
    background-color: var(--color-azul);
    font-family: 'Roboto', sans-serif;
}
main .mainCard{
    border-radius: .75rem!important;
    background-color: var(--color-gris);
}
img.card-img-top{
    width: 150px!important;
    height: 150px!important;
}



main div.bienvenidx{
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}

main div.vistaProductos{
    margin-top: 1rem!important;
    justify-content: space-around!important;
    text-align: center;
}

h6.card-title{
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

main div.vistaProductos div.card div.card-body a{
    background-color: var(--color-naranja);
    margin-bottom: 1rem!important;
}

main div.seccionCategorias{
    margin-top: 1rem!important;
}
main div.seccionCategorias div{
    text-align: center;
    color: var(--color-azul)!important;
}
main div.seccionCategorias div i{
    font-size: 2rem;
    color: var(--color-azul)!important;
}
main div.seccionCategorias div p{
    font-size: .75rem;
}

/* Móvil apaisado */
@media (min-width: 481px) and (orientation: landscape){

    main{
        margin-top: 0 !important;
    }

    main div#carruselNovedades{
        display: none!important;
    }

    main div.seccionCategorias div.catM{
        display: block!important;
    }
    main div.vistaProductos{
        padding: 1rem 1rem!important;
    }

    main div.vistaProductos div.card{
        flex-basis: 27.5%!important;
        max-width: 27.5%!important;
        margin:  .5rem!important;
    }
    main div.vistaProductos div.movilH{
        display: block!important;
    }

}

/* Tablet vertical */
@media (min-width: 600px) and (orientation: portrait){

    main{
        max-width: 1200px;
        margin-top: 0 !important;
    }
    main div#carruselNovedades div.carousel-item div.d-none{
        display: block!important;
        background-color: #DCDCDCaa;
        color: black!important;
        max-width: 40%!important;
        border-radius: 1rem;
    }
    main div.vistaProductos div.card{
        flex-basis: 30%!important;
        max-width: 30%!important;
        margin:  .5rem!important;
    }
    main div.vistaProductos div.movilH{
        display: block!important;
    }
    main div.seccionCategorias div.catM{
        display: block!important;
    }
}

/* Tablet apaisado */
@media (min-width: 897px) and (orientation: landscape){

    main{
        max-width: 1200px;
    }

    main div.bienvenidx{
        margin-top: 0 !important;
    }
    main div.vistaProductos div.card{
        flex-basis: 20%!important;
        max-width: 20%!important;
    }

    main div.vistaProductos div.tabletH{
        display: block!important;
    }
    main div.seccionCategorias div.catT{
        display: block!important ;
    }
}

/* Pantalla grande vertical */
@media (min-width: 1024px) and (orientation: portrait){
    
    main div.vistaProductos div.tabletH{
        display: block!important;
    }

    main div.vistaProductos div.card{
        flex-basis: 20%!important;
        max-width: 20%!important;
    }

    main div.seccionCategorias div.catT{
        display: block!important ;
    }
}

/* Pantalla xl (pantallas grandes apaisadas, monitores) */
@media (min-width: 1200px){

    main div#carruselNovedades{
        display: block!important;
    }

    main div#carruselNovedades div.carousel-item div.d-none{
        display: block!important;
        background-color: #DCDCDCaa;
        color: black!important;
        max-width: 40%!important;
        border-radius: 1rem;
    }

    main div.vistaProductos div.card{
        flex-basis: 18%!important;
        max-width: 18%!important;
    }

    main div.vistaProductos div.pAncha{
        display: block!important;
    }
    main div.seccionCategorias div.catPA{
        display: block!important;
    }
    main div.seccionCategorias div{
        flex-basis: 18%!important;
        max-width: 18%!important;
    }

}