:root {
  --color-naranja: #f58220;
  --color-gris: #dcdcdc;
  --color-azul: #026aa7;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0 auto;
}
