:root {
  --color-naranja: #f58220;
  --color-gris: #dcdcdc;
  --color-azul: #026aa7;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0 auto;
}

.btn {
  background-color: var(--color-naranja);
  margin-bottom: 1rem !important;
}
.col_prod{
  margin-top: 1rem !important;
  margin-left: 1rem !important;
  background-color: var(--color-gris);
  border-radius: 0.3rem!important;
}

.col_prod>*{
  display: flex;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.col_cat{
  margin-top: 1rem !important;
  height: max-content;
}
