.mainCard form span{
  color: red;
}

.mainCard form input{
  margin-bottom: 10px;
}
.mainCard form input:focus{
  box-shadow: none;
  border-color: transparent;
}
.mainCard form button a{
  color: inherit;
}
.mainCard form button{
  border: 1px solid #000;
}
.mainCard form button.eliminar:hover {
  background-color: red;
  color: white;
}