<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <a href="/cat/add" class="btn">Agregar Categoría</a>
        <a href="/prod/add" class="btn">Agregar Ítem</a>
        <a href="/add/admin" class="btn">Agregar Admin</a>
    </main>
</body>
</html>

