<!DOCTYPE html>
<html lang="es">
<%- include(`./partials/head.ejs`) %>

<body>

  <%- include(`./partials/header.ejs`) %>

  <section class="form-register">
    <h4>¡Conectate!</h4>

    <form action="">

      <input class="controls" type="email" name="email" placeholder="Ingresá tu correo" required>
      <input class="controls" type="password" name="password" placeholder="Ingresá tu contraseña" required>
      <a href="Terminos.html"> <input class="botons" type="submit" value="Ingresar"></a>
      <p> <input type="checkbox" name="checkbox" id="checkbox"> <strong>recordarme </strong> </p>
      <p> ¿No tenés cuenta? <a href="/user/registro"><strong> Crear cuenta </strong></a></p>

      <p class="derechos">Todos los derechos reservados 2020 Insumos Onboard </p>

    </form>

  </section>

  <%- include(`./partials/footer.ejs`) %>

  <%- include(`./partials/scripts.ejs`) %>

</body>

</html>