<!DOCTYPE html>
<html lang="es">
  <!-- Partial del head --><%- include(`./partials/head.ejs`) %>
  <body>
    <!-- Partial del header -->
    <%- include(`./partials/header.ejs`) %>


    



    <!-- Partial del footer -->
    <%-include(`./partials/footer.ejs`) %>

    <!-- Partial de scripts -->
    <%-include(`./partials/scripts.ejs`) %>
  </body>
</html>
