<!DOCTYPE html>
<html lang="es">
<!-- Partial del head -->
<%- include(`./partials/head.ejs`) %>

<body>

  <!-- Partial del header -->
  <%- include(`./partials/header.ejs`) %>

  <!-- Cuerpo del register (pegar debajo)-->


  <section class="form-register">

    <h4>¡Regístrate!</h4>
    <form action="/user/registro" method="POST">
      <input class="controls" type="text" name="nombre" placeholder="Ingresá tu nombre">
      <input class="controls" type="text" name="apellido" placeholder="Ingresá tu apellido">
      <input class="controls" type="email" name="email" placeholder="Ingresá tu correo">
      <input class="controls" type="password" name="password" placeholder="Ingresá tu contraseña">
      <p><input type="checkbox" name="terms">Acepto los <a href="#"><strong>Terminos y Condiciones</strong></a></p>
      <a href="register.html"><input class="botons" type="submit" value="Registrar"></a>
      <p><a href="/user/login"><strong>¿Ya tenés cuenta?</strong></a></p>
      <p class="derechos">Todos los derechos reservados 2020 Insumos Onboard </p>
    </form>
  </section>

  

  <!--formulario de registo-->


  <!-- Partial del footer -->
  <%- include(`./partials/footer.ejs`) %>

  <!-- Partial de scripts -->
  <%- include(`./partials/scripts.ejs`) %>

</body>

</html>