<footer class="container-fluid">
    <div class="row py-2">
        <div class="col-12 ayuda">
            <h4>Ayuda</h4>
            <p>Si tuviste algún inconveniente, contactanos</p>
            <button class="btn"><a href="https://wa.link/3hzofb" style="color: black;">Contacto</a></button>
        </div>
        <hr class="col-10 separador">
        <div class="col-12 redes">
            <h4>Seguinos en</h4>
            <div class="iconosRedes row">
                <i class="fab fa-facebook"><br><span><a href="https://www.facebook.com/Insumos-Onboard-106151904680978">Facebook</a> </span></i>
                <i class="fab fa-twitter"><br><span> Twitter</span></i>
                <i class="fab fa-instagram"><br><span> Instagram</span></i>
                <i class="fab fa-youtube"><br><span>Youtube</span></i>
            </div>
        </div>
        <hr class="col-10 separador2">
        <div class="col-12 info">
            <div class="col-12 nosotros">
                <h4>Insumos Onboard</h4>
                <ul class="p-0">
                    <li class="navbar-item">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Azcuénaga 555, CABA</span>
                    </li>
                    <li class="navbar-item">
                        <i class="fas fa-clock"></i>
                        <span>Lun. a Sab. 10 a 19hs.</span>
                    </li>
                    <li>
                        <i class="fas fa-phone"></i>
                        <span>(011) 4444-4444</span>
                    </li>
                    <li>
                        <i class="fas fa-mobile-alt"></i>
                        <span>(011) 15-5555-5555</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-none mapa">
            <iframe class="container-fluid row"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.05485439443!2d-58.4008780390756!3d-34.60277438919248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca935243c8e1%3A0x4eb48eb40079c537!2sAzcu%C3%A9naga%20555%2C%20C1029%20AAK%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1599006433920!5m2!1ses-419!2sar"
                width="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
        <hr class="col-10">


    </div>
    <div class="container-fluid copyright">
        <span>Página desarrollada y diseñada por Dresch Pedro, Mariño Adrián y Novo Axel.</span>
    </div>
</footer>